.wrapper {
  width: 700px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 100px 500px 100px;
  grid-template-rows: 100px 500px 150px;
  background-color: rgb(255, 17, 0);
  border-radius: 10px;
}
.wrapper h1 {
  grid-area: 1/2/2/3;
  text-align: center;
  align-self: center;
  color: gold;
  font-size: 50px;
}
.wrapper .controlPanel {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  grid-area: 3/1/4/4;
}
.wrapper .controlPanel .color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.wrapper .controlPanel .color-container p {
  font-size: 20px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.wrapper .controlPanel .color-container #color {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: none;
}
.wrapper .controlPanel .switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  gap: 20px;
}
.wrapper .controlPanel #resetBtn {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 800;
  transition: transform 0.1s;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  cursor: pointer;
}
.wrapper .controlPanel #resetBtn:hover {
  transform: scale(1.05);
}
.wrapper .controlPanel #resetBtn:active {
  transform: scale(0.98);
}
.wrapper .controlPanel .boardSize-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
.wrapper .controlPanel .boardSize-container p {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}
.wrapper .controlPanel .boardSize-container #sizeValue {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.wrapper .controlPanel .boardSize-container #size {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 10px;
  background: darkgray;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.wrapper .controlPanel .boardSize-container #size:hover {
  opacity: 1;
}
.wrapper .controlPanel .boardSize-container #size::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: gold;
  cursor: pointer;
}
.wrapper .controlPanel .boardSize-container #size::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: gold;
  cursor: pointer;
}
.wrapper .controlPanel .switch-container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.wrapper .controlPanel .switch-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.wrapper .controlPanel .switch-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.wrapper .controlPanel .switch-container .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: darkgray;
  transition: 0.4s;
}
.wrapper .controlPanel .switch-container input:checked + .slider {
  background-color: gold;
  opacity: 0.7;
}
.wrapper .controlPanel .switch-container input:checked + .slider:hover {
  opacity: 1;
}
.wrapper .controlPanel .switch-container input:focus + .slider {
  box-shadow: 0 0 1px gold;
}
.wrapper .controlPanel .switch-container input:checked + .slider:before {
  transform: translateX(26px);
}
.wrapper .controlPanel .switch-container .slider.round {
  border-radius: 34px;
}
.wrapper .controlPanel .switch-container .slider.round:before {
  border-radius: 50%;
}
.wrapper .gameBoard {
  display: flex;
  flex-direction: column;
  grid-area: 2/2/3/3;
  background-color: darkgray;
}
.wrapper .gameBoard .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .gameBoard .container .row {
  display: flex;
  flex-grow: 1;
}
.wrapper .gameBoard .container .row .cell {
  flex-grow: 1;
  border: 1px solid lightgray;
  border-radius: 3px;
}/*# sourceMappingURL=style.css.map */